<table class="blogtable" >
<% @blog_list.each do |blog| %>

    <!--Row 1 is the pic and title, category, author, date info-->
    <tr>
       <td class="blogpic">
            <a href = "/blog/<%=blog.id%>/show" ><%= image_tag blog.image, :width=>225, :class=>"blogpicborder" %></a>
        </td>
        <td class="blogttitle">
            <h1 class = "namest"><a href = "/blog/<%=blog.id%>/show" class = "namest"><%=blog.title%></a></h1>
            <h2 class = "detail"><%=blog.subhead%></h2>
            <%category_list = Blogcategory.find_by(:id => blog.blogcategory_id)%>
            <% if category_list.present? %>
                <h2 class = "detail"><%=category_list.category%></h2>
            <%else%>
                <h2 class = "detail">No Category</h2>
            <%end%>
            <p class = "detail">By: <%=blog.author%> | <%=blog.date%></p>
            <br>
            <% employee = Employee.find_by(:id => session[:employee_id]) %>
            <% if employee.present? %>
                <p><a class="btn monkey" href="/blog/<%=blog.id%>/edit" role="button" color="grey">Edit &raquo;</a></p>
                <p><a class="btn monkey" href="/blog/<%=blog.id%>/delete" role="button" color="grey">Delete &raquo;</a></p>
            <%else%>
            <%end%>
        </td>
    </tr>

    <!--Row 2 is the first part of the blog text-->
    <tr>
        <td colspan="2" class="blogtext">
            <% if blog.text.length >360%>
                <p class = "lead detail"><%=truncate(blog.text, :length=>360) %><a href="/blog/<%=blog.id%>/show"> <strong>...continue here</strong></a></p>
            <%else%>
                <p class = "lead detail"><%=blog.text%></p>
            <%end%>
        </td>
    </tr>

    <!--Row 3 is the list of tags-->
    <tr>
        <td colspan="2" class="blogtags">
            <p class="tagfont"><strong>Tags:</strong>
                <% tagging_list = Tagging.where(:blog_id => blog.id)%>
                <% if tagging_list.count >0 %> |
                    <% tagging_list.each do |tagging| %>
                        <% tag = Blogtag.find_by(:id => tagging.blogtag_id) %>
                        <% if tag.present?%>
                        <%=tag.tag%>|
                        <% end %>
                    <% end %>
                <%else%>
                No tags
                <% end %>
            </p>
        </td>
    </tr>

<% end %>
</table>
