<div class="page-header">
  <h1>Edit Tagging Pair #<%=@tagging_list.id%>, Blog ID: <%=@tagging_list.blog_id%>, Tag ID: <%=@tagging_list.blogtag_id%></h1>
</div>

<form action="/tagging/<%=@tagging_list.id%>/update">

  <div class ="form-group">
    <label>Blog ID:</label>
      <input value = <%= @tagging_list.blog_id %> name ="blog_id" type="integer" class="form-control input-md" >
  </div>

  <div class ="form-group">
    <label>Tag ID:</label>
      <input value = <%= @tagging_list.blogtag_id %> name ="blogtag_id" type="integer" class="form-control input-md" >
  </div>


  <button type="submit" class="btn btn-success btn-md">Update Tagging Pair</button>
  or
  <a href="/tagging">Cancel</a>
</form>
